@page
@model BeFit_Website.Pages.Main.SearchForFoodModel
@{
    <head>
        <link rel="stylesheet" href="~/css/SearchForFood.css" />
    </head>
    <form method="post" class="align-content-center col-6 w-25" style="margin:auto;text-align:center;color:#1A2238;" enctype="multipart/form-data">
        <div class="form-floating form-outline mb-4">
            <input asp-for="food.name" class="form-control"  required>
            <label class="form-label">Search a food by Name only.</label>
        </div>
        <button type="submit" asp-page-handler="Search" class="btn btn-success btn-block mb-3"><i class="bi bi-patch-plus"> Search 🔍</i></button>
    <div class="form-floating form-outline mb-4" id="Searched-Food-Container">
        @if (!string.IsNullOrEmpty(Model.food.name))
        {
            <div>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Calories</th>
                        <th>Total Fats(g)</th>
                        <th>Saturated Fats(g)</th>
                        <th>Protein(g)</th>
                        <th>Sodium(mg)</th>
                        <th>Potassium(mg)</th>
                        <th>Cholesterol(mg)</th>
                        <th>Carbs(g)</th>
                        <th>Fiber(g)</th>
                        <th>Sugar(g)</th>
                    </tr>
                    <tr>
                        <td>@Model.food.name</td>
                        <td>@Model.food.calories</td>
                        <td>@Model.food.fat_total_g</td>
                        <td>@Model.food.fat_saturated_g</td>
                        <td>@Model.food.protein_g</td>
                        <td>@Model.food.sodium_mg</td>
                        <td>@Model.food.potassium_mg</td>
                        <td>@Model.food.cholesterol_mg</td>
                        <td>@Model.food.carbohydrates_total_g</td>
                        <td>@Model.food.fiber_g</td>
                        <td>@Model.food.sugar_g</td>
                        <td><button type="button"  class="show-PopUp btn btn-success btn-block mb-3"> Add ➕</button></td>
                    </tr>
                </table>
            </div>      
        }
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div>
                <span>
                    There were no results for your search.
                    <br>
                    <b>Suggestions:</b>
                    <br>
                    1- Make sure all words are spelled correctly.
                    <br>
                    2- Search by ingredient.
                    <br>
                    3- Try more general keywords like 'apple'.
                </span>
            </div>
        }
    </div>  
    </form>
    <form method="post" enctype="multipart/form-data">
    <div class="PopUp hidden">
        <button type="button" class="close-PopUp">&times;</button>
        <h1>Details of food that u ate. </h1>
        <div class="form-floating form-outline mb-4">
            <label class="form-label">Quantity: </label>
            <input asp-for="Food_SelectedFood.CombinedSelectedFood.Quantity" value="1" step="1" class="form-control" type="number" required>
                <span asp-validation-for="Food_SelectedFood.CombinedSelectedFood.Quantity" class="text-danger"></span>
        </div>
        <div class="form-floating form-outline mb-4">
            <label class="form-label">Weight (g):</label>
                <input asp-for="Food_SelectedFood.CombinedSelectedFood.Weight" value="100" class="form-control" type="number" required>
                <span asp-validation-for="Food_SelectedFood.CombinedSelectedFood.Weight" class="text-danger"></span>
        </div>
        <div>
            <div class="input-group mb-3">
                <label class="input-group-text">Meal</label>
                    <select class="form-select" asp-for="Food_SelectedFood.CombinedSelectedFood.Meal" required>
                    <option hidden></option>
                    <option value="Breakfast">Breakfast</option>
                    <option value="Lunch">Lunch</option>
                    <option value="Dinner">Dinner</option>
                    <option value="Snacks">Snacks</option>
                </select>
            </div>
                <span asp-validation-for="Food_SelectedFood.CombinedSelectedFood.Meal" class="text-danger"></span>
        </div>
            <button type="submit" asp-page-handler="AddFood" class="btn btn-success btn-block mb-3"><i class="bi bi-patch-plus"> Add Food ➕</i></button>
    </div>
    <div class="overlay hidden"></div>
    </form>
    
}
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
<script>

    const PopUp = document.querySelector('.PopUp');
    const overlay = document.querySelector('.overlay');
    const closePopUp = document.querySelector('.close-PopUp');
    const showPopUp = document.querySelector('.show-PopUp');

    function openPopUp() {
        PopUp.classList.remove('hidden');
        overlay.classList.remove('hidden');
    }
    function exitPopUp() {
        PopUp.classList.add('hidden');
        overlay.classList.add('hidden');
    }
    //make btns do their job
    showPopUp.addEventListener('click', openPopUp);
    //close the pop-up window by X btn
    closePopUp.addEventListener('click', exitPopUp);
    //close the pop-up window by clicking on page
    overlay.addEventListener('click', exitPopUp);
    //close the pop-up by escape on keyboard
    document.addEventListener('keydown', function (e) {
        if (e.key === 'Escape') exitPopUp();
    });
</script>